main {
	min-height: 85vh;
}

#basic-navbar-nav i {
	color: #fff;
}

.logo__text-chef,
.logo__text-helper {
	font-family: 'Kaushan Script', cursive;
	font-size: 2.5rem;
}

.logo__text-helper {
	font-size: 1.5rem;
}
