main {
  min-height: 85vh;
}

#basic-navbar-nav i {
  color: #ffc107;
}

.logo__text-chef,
.logo__text-helper {
  font-family: "Kaushan Script", cursive;
  font-size: 2.5rem;
}

.logo__text-helper {
  font-size: 1.5rem;
}

.rota-dayCard__day {
  font-family: "Alfa Slab One", cursive;
  font-size: 2rem;
  letter-spacing: 2px;
}

.img-upload-delete-badge:hover {
  cursor: pointer;
}

.home-link:hover {
  cursor: pointer;
}

/* carousel */
.carousel {
  min-height: 35vh;
  border-radius: 15px;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

.edamam-search-reset-icon:hover {
  cursor: pointer;
}
